@import "variables";

html,
body {
  font-family: $ff-base;
  font-weight: $fw-base;
  font-size: $fz-base;
  line-height: $lh-base;
  color: $black;
  scroll-behavior: smooth;

  @media screen and (max-width: 768px) {
    font-size: 16px;
    line-height: 24px;
  }
}

.visible-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.overflow-hidden {
  overflow: hidden;
}

.container {
  $container_padding: 15px;
  max-width: calc($container + ($container_padding * 2));
  padding: 0 $container_padding;
  margin: 0 auto;
}