$container: 960px;

// COLOR
$white: #ffffff;
$black: #4D4D4D;
$primary: #FF4200;

// FONT
$ff-base: "Rubik", "Arial", "sans-serif";
$fw-base: 400;
$fs-base: normal;
$fz-base: 18px;
$lh-base: 28px;

// MEDIA
$mobileS: 320px;
$mobileM: 375px;
$mobileL: 425px;
$tabletS: 480px;
$tabletM: 640px;
$tabletL: 768px;
$laptopS: 992px;
$laptopM: 1024px;
$laptopL: 1200px;
$fullHD: 1920px;